body {
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0;
    padding: 0;
    background: url('/img/bg.jpg');
    background-size: cover;
}

.left {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 70px;
}

.left div {
    line-height: 15px;
    font-size: 20px;
}

.left img {
    margin-left: 18px;
    width: 80px;
    filter: invert(100%);
}

.mid {
    display: block;
    margin: 14px auto;
    width: 45%;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 34px;
}

.navbar a:active,
.navbar a.active {
    color: white;
    text-decoration: underline;
}

.navbar a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.right {
    position: absolute;
    right: 12px;
    top: 14px;
    display: inline-block;
}

.btn {
    background-color: black;
    color: white;
    border: 2px solid grey;
    font-style: bold;
    padding: 6px 20px;
    cursor: pointer;
    position: relative;
    top: 10px;
}

.btn:hover {
    background-color: gray;
}

.container {
    border: 5px solid white;
    border-radius: 15px;
    margin: 110px 0px 0px 86px;
    padding: 25px 35px;
    width: 33%;
}

.container h2 {
    text-align: center;
}

.form-group input {
    text-align: center;
    margin: 15px;
    height: 35px;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Baloo Bhai 2', cursive;
    overflow: hidden;
}
.form-btn {
    margin: 20px 15px;
    display: block;
    background-color: black;
    color: white;
    border: 4px solid gray;
    border-radius: 8px;
    height: 50px;
    width: 100px;
    font-size: large;
    cursor: pointer;
}

.form-btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 50px #ffffff;
    font-weight: bold;
    animation-name: btn-border;
    animation-duration: 2s;
    animation-timing-function: 2s;
    animation-iteration-count: infinite;
}
@keyframes btn-border{
    50% {
        border: 4px solid black;
    }
    100% {
        border: 4px solid rgb(54, 54, 54);
    }
}